div.info {
	position:relative;
	margin:10px auto;
	cursor:default;
	width:60%;
	display:block;
	background-color:#dbebff;
	border:1px solid  #2b3856;
	color:rgb(255,0,0);
	text-align:left;
	margin-top: 10px ;
}


body,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
	font-family:verdana,helvetica,arial,sans-serif;
}

h1 {font-size:22px;margin-top:0px;margin-bottom:0px;font-weight:normal}
h2 {font-size:18px;margin-top:0px;margin-bottom:0px;font-weight:normal}   
h3 {font-size:16px;margin-top:0px;margin-bottom:0px;font-weight:normal}




div.MLA_Header {

	width:100%;height:42px;color:#000000;background-color:#FFFFFF;margin:0px;padding:0px;border-radius:0px;
	
}


div.MLA_Navigation {

	width:100%;
	height:40px;
	color:#000000;
	background-color:#000000;
	border-radius:0px;
	border-spacing:0;
	border-width: 0px ;
	
}


div.MLA_Search_Pattern {
	width:80%;
	color:#000000;
	background-color:#e3e3e3;
	margin:0px;
	padding:5px;
	border-radius:5px;
	
	margin-top: 10px ;	
	
	margin-left:auto;
	margin-right:auto;
	
	border:1px solid #B8B8B8;		
		
}


div.MLA_Search_Warning {
	width:50%;
	color:#000000;
	background-color:#00FFCC;
	margin:0px;
	padding:5px;
	border-radius:5px;
	
	margin-left:auto;
	margin-right:auto;
		
}


div.MLA_Search_Summary {
	width:100%;
	color:#000000;
	background-color:#e3e3e3;
	border:1px solid #B8B8B8;		
	margin-top: 10px;
	padding-top:5px;
	border-radius:0px;
	
}


div.MLA_Search_Parameters {
	width:100%;
	color:#000000;
	background-color:#e3e3e3;
	border:1px solid #B8B8B8;		
	margin-top: 10px;
	padding-top:5px;
	border-radius:0px;
}


div.MLA_Search_Detail {
	width:100%;
	color:#000000;
	background-color:#e3e3e3;
	border:1px solid #989898;		
	margin-top: 10px;
	padding-top:5px;
	border-radius:0px;
	
}

div.MLA_Fixed_Header {
	width:1399px;
	height:52px;
	color:#000000;
	background-color:#e3e3e3;
	border:1px solid #989898;		
	margin-top: 10px;
	padding-top:5px;
	border-radius:0px;
}

div.MLA_Fixed_Data {
	width:1399px;
	height:100px;
	color:#000000;
	background-color:#FFFFFF;
	border:1px solid #989898;		
	border-radius:0px;
	overflow-y: auto;
}


a.Search_Button,a.Search_Button:link,a.Search_Button:visited
{
display:inline-block;
color:#FFFFFF;
background-color:#88C8C8;
font-weight:bold;
font-size:16px;
text-align:center;
padding-left:35px;
padding-right:35px;
padding-top:1px;
padding-bottom:1px;
text-decoration:none;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
border:1px solid #28C8C8;
border-radius:3px;
white-space:nowrap;
}

a.Search_Button:hover,a.Search_Button:active
{
background-color:#28C8C8;
color:#FFFFFF;
}

a.Search_Button1,a.Search_Button1:link,a.Search_Button1:visited
{
display:inline-block;
color:#FFFFFF;
background-color:#88C8C8;
font-weight:bold;
font-size:16px;
text-align:center;
text-decoration:none;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
border:1px solid #28C8C8;
border-radius:3px;
white-space:nowrap;
}

a.Search_Button1:hover,a.Search_Button1:active
{
background-color:#28C8C8;
color:#FFFFFF;
}


a.Nav_Button,a.Nav_Button:link,a.Nav_Button:visited
{
width:125px;
height:26px;
display:inline-block;
color:#C0C0C0;
background-color:#282828;
font-weight:normal;
font-size:16px;
text-align:centre;
vertical-align:middle;

padding-left:0px;
padding-right:0px;
padding-top:8px;
padding-bottom:0px;
text-decoration:none;
margin-left:0px;
margin-top:0px;
margin-bottom:0px;
border:1px solid #484848;
border-radius:0px;
white-space:nowrap;

}


a.Nav_Button:hover,a.Nav_Button:active
{
background-color:#484848;
color:#C0C0C0;
}


table.Navigation
{
border:0px solid black;
border-collapse:collapse;
}


table.Navigation th
{

padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: black ;
border:0px solid black ;

}


table.Navigation td
{

}


table.Navigation tr
{

}


table.search_summary
{
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;

padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;

border-width: 0px ;
border-spacing:0;
border-collapse:collapse;
}


table.search_summary th
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #C8C8C8 ;

border-style:solid;
border-color:#A8A8A8;

border-left-width: 1px ;
border-right-width: 0px ;
border-top-width: 1px ;
border-bottom-width: 0px ;

font-weight:normal;
font-size:16px;
text-align:left;
text-indent:5px;


border-spacing:0;

}


table.search_summary td
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #FFFFFF ;

border-style:solid;
border-color:#A8A8A8;

border-left-width: 1px ;
border-right-width: 0px ;
border-top-width: 1px ;
border-bottom-width: 0px ;

font-weight:normal;
font-size:12px;
text-align:left;
text-indent:5px;

border-spacing:0;

}


table.search_summary tbody tr:hover td
{
background-color:#68C8C8;
}




table.search_detail
{
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;

padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;

border-width: 0px ;
border-spacing:0;
border-collapse:collapse;
}


table.search_detail th
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #C8C8C8 ;

border-style:solid;
border-color:#A8A8A8;

border-left-width: 1px ;
border-right-width: 0px ;
border-top-width: 1px ;
border-bottom-width: 0px ;

font-weight:normal;
font-size:16px;
text-align:left;
text-indent:5px;


border-spacing:0;

}


table.search_detail td
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #FFFFFF ;

border-style:solid;
border-color:#A8A8A8;

border-left-width: 1px ;
border-right-width: 0px ;
border-top-width: 1px ;
border-bottom-width: 0px ;

font-weight:normal;
font-size:12px;
text-align:left;
text-indent:5px;

border-spacing:0;

}











table.search_pattern
{

margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;

padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;

border-collapse:collapse;

}


table.search_pattern th
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #C8C8C8 ;
border:1px solid #C8C8C8 ;

font-weight:normal;
font-size:16px;
text-align:left;
text-indent:15px;

border-bottom-width: 0px ;

    
}


table.search_pattern td
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #FFFFFF ;
border:1px solid #B8B8B8 ;

font-weight:normal;
font-size:12px;
text-align:left;


}


table.search_pattern tr
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;


}



table.MLA_results_detail
{
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
border-width: 0px ;
border-spacing:0;
border-collapse:collapse;
}

table.MLA_results_detail th
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #C8C8C8 ;
border-style:solid;
border-color:#A8A8A8;
border-left-width: 1px ;
border-right-width: 0px ;
border-top-width: 1px ;
border-bottom-width: 0px ;
font-weight:normal;
font-size:16px;
text-align:left;
text-indent:5px;
border-spacing:0;
}

table.MLA_results_detail td
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #FFFFFF ;
border-style:solid;
border-color:#A8A8A8;
border-left-width: 1px ;
border-right-width: 0px ;
border-top-width: 1px ;
border-bottom-width: 0px ;
font-weight:normal;
font-size:12px;
text-align:left;
text-indent:5px;
border-spacing:0;
}

table.wq_fixed_table
{
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
border-width: 0px ;
border-spacing:0;
border-collapse:collapse;
table-layout:fixed;
word-wrap: break-word;
}

table.wq_fixed_table th
{
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #C8C8C8 ;
border-style:solid;
border-color:#A8A8A8;
border-left-width: 1px ;
border-right-width: 0px ;
border-top-width: 1px ;
border-bottom-width: 0px ;
font-weight:normal;
font-size:16px;
text-align:left;
text-indent:5px;
border-spacing:0;
overflow:hidden;
}

table.wq_fixed_table td
{
padding-left:0px;
padding-right:0px;
padding-top:4px;
padding-bottom:4px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;
background-color: #FFFFFF ;
border-style:solid;
border-color:#A8A8A8;
border-left-width: 1px ;
border-right-width: 0px ;
border-top-width: 1px ;
border-bottom-width: 1px ;
font-weight:normal;
font-size:12px;
text-align:left;
text-indent:1px;
border-spacing:0;
overflow:hidden;
}




input.text_input
{

padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;

border:0px ;
background-color: #FFFFFF ;
color:black;

font-weight:normal;
font-size:12px;
text-align:left;

text-transform:uppercase;

}

input.text_input:hover,input.text_input:active
{
background-color:#FFFFFF;
border-bottom-width: 0px;

}



select.search_option
{

background-color: #FFFFFF ;

padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px ;
margin-top:0px;
margin-bottom:0px;

border:0px ;

}

select.search_option:active
{

background-color: #FFFFFF ;
border:0px ;

}

div.MLA_Fixed_Header {
	width:1399px;
	height:52px;
	color:#000000;
	background-color:#e3e3e3;
	border:1px solid #989898;		
	margin-top: 10px;
	padding-top:5px;
	border-radius:0px;
}

div.MLA_Fixed_Data {
	width:1399px;
	height:100px;
	color:#000000;
	background-color:#FFFFFF;
	border:1px solid #989898;		
	border-radius:0px;	
	overflow-y: auto;
}

div.MLA_CaseHistory_Header {
	width:840px;
	height:23px;
	color:#000000;
	background-color:#e3e3e3;
	border:1px;		
	margin-top: 5px;	
	border-radius:0px;
}

div.MLA_CaseHistory_Data {
	width:840px;
	height:139px;
	color:#000000;
	background-color:#FFFFFF;
	border-radius:0px;
	overflow-y: auto;
}
