@import url(overlays.css);
@import url(error.css);
@import url(accessKeys.css);
@import url(finalDefenceCosts.css);

body {
	background: url(../../images/bg_tile.gif) top left repeat-x;
	background-color:#fff;
	padding:0;
	margin:0;
	width:100%;
    height:100%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
img {
	border:0;
	}
	
	#masthead {
		position:relative;
		width:760px;
		margin:0 auto;
		display:block;
		height:76px;
		}
			#logoHmcs {
				position:absolute;
				top:20px;
				left:0;
				width:135px;
				height:40px;
				}
			#logoLsc {
				position:absolute;
				top:20px;
				left:175px;
				width:154px;
				height:36px;
				}
			
			#logoLaa {
				position:absolute;
				left:0px;
				width:253px;
				height:36px;
				}
			#logoHmcts {
				float:right;
				width:135px;
				height:40px;
				}
				
 div.logosReBrand{
	height:100px;
	top:20px;
	left:0px;
	position:absolute;
	width:450px;
 }			
	#container {
		z-index:1;
		}		
	#utilityBar {
		position:relative;
		display:block;
		margin:0 auto;
		width:760px;
		height:34px;
		background-color:#000;
		text-align:center;
		z-index:2;
		}
			#utilityNav {
				position:absolute;
				margin:0;
				padding:0;
				right:0;
				top:0;
				}
			#utilityNav li {
				list-style:none;
				float:left;
				margin:0;
				width:75px;
				font-size:11px;
				line-height:15px;
				white-space:nowrap;
				}
			#utilityNav li a {
				display:block;
				float:left;
				width:75px;
				line-height:34px;
				padding:0;
				text-decoration:none;
				font-weight:bold;
				background-position:top left;
				background-repeat:repeat-x;
				}
			#newUtilityNav, #searchUtilityNav, #printUtilityNav, #helpUtilityNav, #lmiUtilityNav {
				background-image:url(../../images/utility_bg.gif);
				border-right:1px solid #181818;
				border-left:1px solid #3b3b3b;
				color:#ddd;
				}
			.name {
				width: 240px;
				max-width: 240px;
				white-space:nowrap;
				overflow: hidden;
			}
			.reportName {
				width: 540px;
				max-width: 540px;
				white-space:nowrap;
				overflow: hidden;
			}			
			#closeUtilityNav {
				background-image:url(../../images/logout_utility_bg.gif);
				border-right:1px solid #cc4b4b;
				border-left:1px solid #cc4b4b;
				color:#fff;
				}
			#utilityNav li a:hover {
				color:#fff;
				text-decoration:none;
				}
			#utilityNav li span.accessKey {
				color:#fff;
				text-decoration:underline;
				}
				
		#currentRecord {
			position:absolute;
			margin:0;
			padding:0;
			left:0;
			top:0;
			text-align:left;
			}
			#currentRecord li {
				list-style:none;
				float:left;
				margin:0;
				font-size:12px;
				line-height:15px;
				white-space:nowrap;
				}
			#currentRecord li a {
				display:block;
				float:left;
				line-height:34px;;
				padding:0 12px;
				text-decoration:none;
				font-weight:bold;
				background:url(../../images/utility_bg.gif) top left repeat-x;
				color:#ddd;
				border-right:1px solid #181818;
				border-left:1px solid #3b3b3b;
				overflow:visible;
				}
			#currentRecord li a:hover {
				color:#fff;
				text-decoration:none;
				}
			#currentRecord li.padlock {
				width:34px;
				height:34px;
			}
				
		#openRecords {
			position:absolute;
			display:none;
			margin:0;
			padding:0;
			left:0;
			top:32px;
			text-align:left;
			}
			#openRecords li {
				display:block;
				list-style:none;
				margin:0;
				padding:0;
				font-size:12px;
				line-height:15px;
				}
			#openRecords li a {
				display:block;
				line-height:34px;
				padding:0 12px;
				margin:0;
				text-decoration:none;
				font-weight:bold;
				background:url(../../images/utility_bg.gif) top left repeat-x;
				color:#ddd;
				border-right:1px solid #181818;
				border-left:1px solid #3b3b3b;
				}
			#openRecords li a:hover {
				color:#fff;
				text-decoration:none;
				}
				
	#tabs {
		display:block;
		position:relative;
		width:760px;
		height:34px;
		margin:20px auto 0 auto;
		}
			#tabNav {
				position:absolute;
				margin:0;
				padding:0;
				left:0;
				top:0;
				}
			#tabNav li, #rightSideTab li {
				list-style:none;
				float:left;
				margin:0;
				width:105px;
				font-size:11px;
				line-height:15px;
				text-align:center;
				}
			#tabNav li a, #rightSideTab li a {
				display:block;
				float:left;
				width:106px;
				height:33px;
				padding:6px 0 0 0;
				line-height:12px;
				text-decoration:none;
				font-weight:bold;
				background:url(../../images/tab_bg_off.gif) top left no-repeat;
				color:rgb(100,100,100);
				}
			#tabNav li a:hover, #rightSideTab li a:hover {
				color:#606060;
				}
			#tabNav li a.active, #rightSideTab li a.active {
				color:#000;
				margin-top:1px;
				background:url(../../images/tab_bg_on.gif) top left no-repeat;
				}
			#rightSideTab {
				position:absolute;
				margin:0;
				padding:0;
				top:0;
				right:0;
				}
			
			#subTabs {
				display:block;
				position:relative;
				width:696px;
				height:20px;
				padding:0px;
				margin:0px;
				/* margin:20px auto 0 auto; */
				}
			#subTabNav {
				position:absolute;
				margin:0;
				padding:0;
				left:0;
				top:0;
				}
			#subTabNav li, #rightSideSubTab li {
				list-style:none;
				float:left;
				margin:0;
				padding:0;
				width:109px;
				font-size:10px;
				line-height:15px;
				text-align:center;
				}
			#subTabNav li a, #rightSideSubTab li a {
				display:block;
				float:left;
				width:110px;
				height:20px;
				padding:4px 0 0 0;
				line-height:12px;
				text-decoration:none;
				font-weight:bold;
				background:url(../../images/tabsmall_bg_off.gif) top left no-repeat;
				color:rgb(100,100,100);
				}
			#subTabNav li a:hover, #rightSideSubTab li a:hover {
				color:#606060;
				}
			#subTabNav li a.active, #rightSideSubTab li a.active {
				color:#000;
				/* margin-top:1px; */
				background:url(../../images/tabsmall_bg_on.gif) top left no-repeat;
				}
				
		
				
/* +++++++++++++++++++++++++++ CONTENT BLOCK +++++++++++++++++++++++++++++++++++ */
			
	#content {
		position:relative;
		display:block;
		width:710px;
		margin:0 auto;
		padding:20px 24px;
		background-color:#fff;
		border-width:0 1px;
		border-color:#909090;
		border-style:solid;
		text-align:left;
		}
	html>body #content { /*box model hack, the width above is good for IE, this CSS2 selector below works for proper browsers */
		width:710px;
	}

	div.h1, div.h2, div.h3 {
		position:relative;
		margin:0 0 20px 0;
		padding:0 0 0 12px;
		font-size:20px;
		font-weight:normal;
		clear:left;
        line-height:150%;
		text-align:left;
		}
	.h1 {
		width:692px;
		background-color:#3b3b3b;
		color:#fff;
		border:2px solid #2c2c2c;
		}
	.h2 {
		width:696px;
		background-color:#989898;
		color:#fff;
		}
	.separator {
        line-height:30%;
		width:696px;
		background-color:#989898;
		color:#fff;
    }
	#advancedSearch .h2 {
		width:547px !important;
	}
	.h3 {
		width:696px;
		background-color:#6c2970;
		color:#fff;
		}
	h1 {
		margin:0;
		font-size:20px;
		color:#e9bc06;
		font-weight:normal;
		margin:0 0 20px 12px;
		clear:left;
		line-height:150%;
		}
	h5 {
		margin:0;
		font-size:16px;
		color:rgb(255,0,0);
		font-weight:bold;
		line-height:150%;
		}
	strong.cmuName {
		font-size:14px;
		color:#AA00AA;
	}
	label {
		cursor:pointer;
	}
	.red {
		color:rgb(255,0,0);
	}
	input, select, textarea, label, p {
		color:#2c2c2c;
	}
	label, div.row p {
		font-size:12px;
		font-weight:bold;
		margin:0;
		}
	label.block {
		display:block;
		}
	label.large {
		font-size:14px;
		}
	label.text {
		display:block;
		}
	label sup {
		color:#ff0000;
		font-weight:bold;
		font-size:14px;
		}
	input.radio {
		margin:0;
		padding:0;
		}
	input.subRadio {
		margin:0 0 0 24px;
		}
	label.radioLabel {
		margin-right:12px;
		}
	.address {
		display:block;
		height:22px;
		/*height:"18px";
		 margin:0; */
		/* border: 1px solid;
		border-color:#999 #cdcdcd #cdcdcd #999;  */
		font-size:11px;
	}
	input.text, input.alpha, input.decimal, input.alphaNumeric, input.numeric {
		height:15px;
		height:"18px";
		margin:0;
		border: 1px solid;
		border-color:#999 #cdcdcd #cdcdcd #999;
		font-size:11px;
		}
		
	textarea {
		height:36px;
		margin:0;
		border: 1px solid;
		border-color:#999 #cdcdcd #cdcdcd #999;
		font-size:10px;
		font-family:Arial, Helvetica, sans-serif;
		}
	textarea.cols1 {
		width:160px;
		}
	textarea.cols2 {
		width:325px;
		}
	textarea.rows1 {
		height: 100px;
	}
	textarea.cols3 {
		width:530px;
		}
	textarea.cols4 {
		width:640px;
		}
	input.dateField, .decisionDateField {
		width:70px;
		height:15px;
		height:"18px";
		margin:0;
		border: 1px solid;
		border-color:#999 #cdcdcd #cdcdcd #999;
		font-size:11px;
	}
	
	input.dateDay, .decisionDateDay {
		width:20px;
		height:15px;
		height:"18px";
		margin:0;
		border: 1px solid;
		border-color:#999 #cdcdcd #cdcdcd #999;
		font-size:11px;
	}
	
	input.dateYear, .decisionDateYear, .styleDueDateYear {
		width:30px;
		height:15px;
		height:"18px";
		margin:0;
		border: 1px solid;
		border-color:#999 #cdcdcd #cdcdcd #999;
		font-size:11px;
	}

	input.dateYearAhead {
		width:30px;
		height:15px;
		height:"18px";
		margin:0;
		border: 1px solid;
		border-color:#999 #cdcdcd #cdcdcd #999;
		font-size:11px;
	}
	
	input.short {
		width:30px;
		}
	input.medium {
		width:120px;
		margin:0;
		}
	input.medLong {
		width:180px;
		}
	input.long {
		width:240px;
		}
	select {
		border: 1px solid;
		border-color:#999 #cdcdcd #cdcdcd #999;
		font-size:11px;
		/*
		This causes bottom few pixels to be removed on IE7, removing this doesn't seem to have an issue
		height:17px; 
		*/
	}
	
	select.standard {
		width:144px;
	}
	
	.fieldGroup { /* this FIELDGROUP class can be used to have several form fields in a column, followed by anotehr column to the right using the FIELDGROUP class again */
		position:relative;
		display:block;
		float:left;
		margin:14px 18px 0 0;
		}
		
	#footer {
		position:relative;
		display:block;
		width:758px;
		height:32px;
		margin:0 auto 24px auto;
		background:#fff url(../../images/footer_gradient.gif) top left no-repeat;
		border-width:0 1px 1px 1px;
		border-color:#909090;
		border-style:solid;
		}
	table {
		padding:4px 8px;
		margin:0 0 24px 0;
		font-size:12px;
		font-weight:bold;
		color:#999;
		border:0;
		border-collapse:collapse;
		}
	table.singleCol {
		width:100%;
		margin:0;
		padding:0;
		}
	table.leftCol {
		float:left;
		clear:left;
		width:48%;
		}
	table.rightCol {
		width:48%;
		margin:20px 0 0 0;
		}
	table.leftCol tr td, table.rightCol tr td {
		width:50%;
	}
	td, th {
		padding:6px;
		text-align:left;
		border-color:#000;
	}
	.formTable td {
		border-top:1px solid #ddd;
		vertical-align:top;
		}
	.formTable1 td {
		border-bottom:1px solid #ddd;
		vertical-align:top;
		}
	select.frequency {
		clear:both;
		display:block;
		}
	tr.light {
		background-color:#eee;
		}
	tr.dark {
		background-color:#ddd;
		}
	.lightGrey {
		background-color:#fbfbfb;
		}		
	.whiteOnGrey {
        font-size:14px;
        font-weight:bold;
        background-color:#989898;
        color:#fff;
    }
.nowrap {
	white-space:nowrap;
	}
.accessKey {
	text-decoration:underline;
	color:rgb(0,0,0);
	}
div.panel {
	/* position:relative; */
	padding:0;
	margin:0 0 18px 0;
	border:1px solid #efefef;
	}
#iojPanel.panel {
	height:260px;
	}
#passportedPanel.panel {
	}
#hardshipResultPanel.panel {
	margin: 18px 0 18px 0;
}
img.button {
	cursor:pointer;
	}
input.button {
	cursor:pointer;
	}

td.passed {
	color:#000;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	background-color:#d8edfc;
	}

/* Style specifications for menu items and links  */
div.menu ul { 
	margin:0;
	padding:0
	}
/* Need to set padding of at least one pixel or ie sets very large margin */
div.menu ul li { 
	list-style:none;
	float:left;
	margin:0;
	font-size:12px;
	line-height:34px;
	padding:0;
	}

/* Set display block and position relative so clicks on list items activate links  */  
div.menu a { 
	width:100%;
	float:left;
	line-height:34px;
	padding:0 12px;
	text-decoration:none;
	font-weight:bold;
	background:url(../../images/utility_bg.gif) top left repeat-x;
	color:#ddd;
	border-right:1px solid #181818;
	border-left:1px solid #3b3b3b;
	cursor:pointer;
	}
  
div.menu a:hover { 
	color:#fff;
	}
	
fieldset {
	padding:0;
	margin:0;
	border:0;
	}
	
#adjustedIncomeDetails td {
	width:30%;
	}
#initialAssResultPanel td {
	width:25%;
}
#fullAssResultPanel td {
	width:25%;
	}
tr.lowliteResult {
	background-color:#f6f0f9;
	}
tr.hiliteResult {
	background-color:#fbf9fd;
	}
tr.result {
	background-color:#f0e5f1;
	}
tr.hilite td {
	border-color:#e9bc06;
	background-color:#faf1c8;
	}
tr.hiliteBlue td {
	border-color:#8d98c1;
	background-color:#e5e7f1;
}
tr.lowlite td {
	border-color:#e9bc06;
	background-color:#fdf9e7;
	}
	
.backToTop {
	text-decoration:none;
	}
	
#otherSourcesOfFundingPanel th.details {
	width:40%;
	}
#otherSourcesOfFundingPanel th.amount {
	width:20%;
	}
#otherSourcesOfFundingPanel td {
	vertical-align:middle;
	}
	
#incomeDeniedAccessToPanel th.details, #extraExpenditurePanel th.details {
	width:40%;
	}
#incomeDeniedAccessToPanel th.amount, #incomeDeniedAccessToPanel th.frequency, #incomeDeniedAccessToPanel th.accepted, #extraExpenditurePanel th.amount, #extraExpenditurePanel th.frequency, #extraExpenditurePanel th.accepted {
	width:10%;
	}
#incomeDeniedAccessToPanel th.accepted, #extraExpenditurePanel th.accepted {
	text-align:center;
	}
#incomeDeniedAccessToPanel th.reason, #extraExpenditurePanel th.reason {
	width:30%;
	}
	
#reviewProgressPanel th.actionTaken, #reviewProgressPanel th.responseRequired, #reviewProgressPanel th.date, #reviewProgressPanel th.dateRequired {
	width:25%;
	}
	
#helpSection {
	display:none;
	width:760px;
	padding:0;
	margin:0 0 24px 0;
	}
#unitHelp, #guidanceHelp, #hintsHelp {
	width:240px;
	height:250px;
	}
#unitHelp {
	float:left;
	margin-right:20px;
	}
#guidanceHelp {
	float:left;
	margin-right:17px;
	}

.helpHeader {
	width:226px;
	height:30px;
	background-color:#3b3b3b;
	color:#fff;
	border:2px solid #2c2c2c;
	font-size:18px;
	font-weight:normal;
	line-height:150%;
	text-align:left;
	padding:0 0 0 10px;
	}
.helpContent {
	width:218px;
	height:200px;
	background-color:#CCCCCC;
	background-image:url(../../images/bg_tile.gif);
	background-position:0 -200px;
	background-repeat: repeat-x;
	background-attachment:fixed;
	overflow:auto;
	padding:10px;
	text-align:left;
	border:solid #8e8e8e;
	border-width:0 1px 1px 1px;
	}
.helpFooter {
	width:236px;
	height:1px;
	background-color:#3b3b3b;
	border:solid #2c2c2c;
	border-width:0 2px 2px 2px;
	}
h4 {
	margin:0 0 8px 0;
	padding:12px 0 0 0;
	color:#2c2c2c;
	font-size:14px;
	text-decoration:underline;
	border-top:1px solid #aaa;
	}
h4.first {
	border:0;
	padding:0;
	}
#helpSection p {
	margin:0 0 12px 0;
	}
#caseDetailsPanel td {
	padding:7px 0 7px 12px;
	}
	
.hide {
	display:none;
	}
.show {
	display:block;
	}
.req {
	color:#ee7700;
	font-weight:bold;
	font-size:17px;
	line-height:0;
	}
.specialInvestigationKey {
    color:red;
    font-size:1.2em;
}
.hilite  {
	background-color:#fdf8e5;
	}
	
div#tipDiv {
	position:absolute; 
	visibility:visible; 
	left:0;
	top:0;
	z-index:10000;
	background-color:rgb(255,255,225);;
	border:1px solid rgb(75, 75, 60); 
	max-width:200px;
	width:200px;
	padding:4px;
	color:rgb(75, 75, 60);
	font-size:11px;
	line-height:1.2;
}

fieldset.group {
	margin-bottom:36px;
	border-bottom:1px solid #ddd;
}
fieldset.radios {
	position:absolute;
	right:10px;
	}
div.bigButton {
    border:0;
	padding:0;
	width:140px;
	height:61px;
	background-position:top right;
	background-repeat:no-repeat;
	text-indent:-5000px;
	margin:10px 0;
	}
div.mediumButton {
    border:0;
	padding:0;
	width:160px;
	height:30px;
	background-position:top right;
	background-repeat:no-repeat;
	text-indent:-5000px;
	margin:10px 0;
	}		
div.smallButton {
    border:0;
	padding:0;
	width:75px;
	height:20px;
	background-position:top right;
	background-repeat:no-repeat;
	text-indent:-5000px;
	margin:10px 0;
	}
input.bigButton {
    border:0;
	padding:0;
	width:131px;
	height:61px;
	background-position:top right;
	background-repeat:no-repeat;
	}
span.bigButton {
	padding:0;
	width:140px;
	height:61px;
	background-position:top right;
	background-repeat:no-repeat;
	text-indent:-1000px;
	}
div.bigButton a {
	width:140px;
	height:61px;
	border:2px solid #ff0000;
	}
#saveButton, #passportedPanel #saveButton, #iojPanel #saveButton {
	background-image:url(../../images/btn_save.gif);
	}
#iojPanel #saveButton{
	position:absolute;
	right:0;
	top:20px;
	}
#passportedPanel #saveButton {
	float: right;
	padding-right: 30px;
}
#updateRepOrderButton {
	background-image:url(../../images/btn_update_applicant_details.gif);
	}
#resetFormButton {
	background-image:url(../../images/btn_reset_form.gif);
	}
#closeRepOrderButton {
	background-image:url(../../images/btn_close_rep_order.gif);
	}
#printButton{
	background-image:url(../../images/btn_print.gif);
}

.addAssessmentDetailsButton {
	position:absolute;
	top:0;
	right:0px;
	background-image:url(../../images/btn_add_as_details.gif);
}
.saveIncompleteButton {
	position:absolute;
	top:0;
	right:160px;
	background-image:url(../../images/btn_save_incomplete.gif);
}
.saveIncompleteRecalculateButton {
	position:absolute;
	top:0;
	right:0px;
	background-image:url(../../images/btn_save_incomplete_recalculate.gif);
}
.saveCompleteButton {
	position:absolute;
	top:0;
	right:0;
	background-image:url(../../images/btn_save_complete.gif);
}



.saveIncomeEvidenceButton {
	position:absolute;
	top:0;
	right:0;
	background-image:url(../../images/btn_save_income_evidence.gif);
}


#calculateCommitButton {
	position:absolute;
	top:0;
	right:0;
	background-image:url(../../images/btn_save_complete.gif);
}
#saveFullIncompleteButton {
	position:absolute;
	top:0;
	right:160px;
	background-image:url(../../images/btn_save_incomplete.gif);
}
#calculateCommitFullButton {
	position:absolute;
	top:0;
	right:0;
	background-image:url(../../images/btn_calculate_commit.gif);
}
.alignRight {
	text-align:right;
	}
.alignLeft {
	text-align:left;
	}
#children0To1, #children2To4, #children5To7, #children8To10, #children11To12, #children13To15, #children16To18 {
	width:24px;
}
#padlock {
	cursor:pointer;
	margin:0;
	padding:0;
	line-height:0;
	font-size:0;
}

thead tr th, tfoot tr td {
	color:#2c2c2c;
}

p.center {
	text-align:center;
}

#reAssessButton {
	position:relative;
	margin:10px auto;
	cursor:pointer;
	width:760px;
	height:41px;
}

.meansReAssessButton {
	background-image:url(../../images/btn_new_assessment.gif);
}

.passportReAssessButton {
	background-image:url(../../images/btn_new_passport.gif);
}

.iojAppealReAssessButton {
	background-image:url(../../images/btn_new_ioj_appeal.gif);
}

.newHardshipButton {
	background-image:url(../../images/btn_new_hardship.gif);
}

#logoutCalloutUtility {
	position:absolute;
	top:10px;
	right:0;
	width:267px;
	height:65px;
	background:url(../../images/callout-utility-nav.gif) top left no-repeat;
	color:#fff;
	font-weight:normal;
	font-size:1.1em; /* sd was smaller */
	text-align:center;
	padding-bottom: 10px;
}
#logoutCalloutUtility p {
	color:#fff;
	font-weight:normal;
	font-size:1.2em; /* sd was small */
	text-align:center;
	padding: 10px;
	margin: 0px;
}
#logoutCalloutOverlay {
	position:absolute;
	top:270px;
	left:0;
	width:176px;
	height:107px;
	background:url(../../images/callout-welcome.gif) top left no-repeat;
}
#logoutCalloutOverlay p {
	position:absolute;
	top:37px;
	left:25px;
	width:126px;
	color:#fff;
	font-weight:normal;
	font-size:1.2em; /* sd was small */
	text-align:center;
}
.statusMessage {
	padding:70px 0px 0px 0px;
	color:#663399
}

.textCounter {
	border: none;
	font-size: 8px;
	font-weight: bold;
	color: #660000;
	background-color: transparent;
}

.alignRight {
	text-align: right;
}

.assessmentStatus {
	width: 100px; 
	float:right; 
	padding-right: 140px; 
	padding-top: 10px;
}

/* readonly styles */	
.alphaNumeric[readonly='readonly']{
	color: #ccc !important;
  	background-color: #eee !important;
}
input[readonly='readonly'] {
  color: #ccc !important;
  background-color: #eee !important;
}
*[readonly] {
  /* CSS for all nodes with readonly attribute */
  color: #ccc !important;
  background-color: #eee !important;
}

input[readonly] {
  /* CSS for input nodes with readonly attribute */
  color: #ccc !important;
  background-color: #eee !important;
}

textarea[readonly] {
  /* CSS for textarea nodes with readonly attribute */
  color: #ccc !important;
  background-color: #eee !important;
}

select[readonly] {
  /* CSS for select nodes with readonly attribute */
  color: #ccc !important;
  background-color: #eee !important;
}

.alphaNumeric[readonly] {
  /* CSS for select nodes with readonly attribute */
  color: #ccc !important;
  background-color: #eee !important;
}
.disabled {
	/*
	background:#eee none; 
	color:#222;
	*/
}
/* end readonly styles */

.upperCase {
	text-transform:uppercase;
}

.bold {
    font-weight:bold;
}
.grey {
    font-weight:lighter;
    color:#222;
}