{% extends 'service_status/common.html' %}

{% load staticfiles %}

{% block content %}


<form action="#" method="post">
  {% csrf_token %}

<table id="edit_table">
  <caption>Update Service</caption>

  <thead>
        
  <tr>
          
    <th class="numeric" scope="col"></th>
    <th class="numeric" scope="col">Auto Check</th>
     
    <th class="numeric" scope="col">Status</th>
    <th class="numeric" scope="col">Notes</th>
          
  </tr>
      
  </thead>



  <tr id="{{service.name}}" class="status_row">
    <td class="large_name_cell">{{ service.name }}</td>
    <td class="large_status_cell" >?</td>
    <td class="large_status_cell">{{form.manual_status}}</td>
    <td class="">{{form.notes}}</td>
    <td class=""><input type="submit" value="Submit"/></td>
  </tr>


</table>


</form>

{% endblock %}

{% block body_end %}
<script src="{% static 'service_status/main.js' %}"></script>


{% endblock %}
