{% extends 'service_status/common.html' %}

{% load staticfiles %}

{% block head %}

<script src="{% static 'service_status/vendor/jquery-2.2.3.js' %}"></script>
<script src="{% static 'service_status/main.js' %}"></script>

{% endblock %}

{% block content %}
  <br>


  <table id="status_table">

    <thead>
      <tr>
        <th class="numeric" scope="col">Service</th>
        <th class="numeric" scope="col">Status</th>
      </tr>
    </thead>

		{% for service in services %}

		<tr class="status_row">
			<td>{{service.name}}</td>
			<td id="{{service.name}}" class="status_cell" >?</td>
		</tr>

		{% endfor %}

	</table>

{% endblock %}
