{% extends 'service_status/common.html' %}

{% load staticfiles %}

{% block content %}
  <br>


  <table id="status_table">

    <thead>
      <tr>
        <th class="numeric" scope="col">Service</th>
        <th class="numeric" scope="col">Status</th>
      </tr>
    </thead>

		{% for service in services %}

		<tr class="status_row">
			<td class="name_cell">{{service.name}}</td>
			<td id="{{service.name}}" class="status_cell" >?</td>
		</tr>

		{% endfor %}

	</table>

{% endblock %}

{% block body_end %}
<script src="{% static 'service_status/main.js' %}"></script>

<script>get_statuses()</script>
{% endblock %}
