<html>

{% load staticfiles %}

<head>
  <link href="{% static 'service_status/simple_table.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body>

<table id="status_table">

  <thead>
        
  <tr>
          
    <th id="header" scope="col">Service Status</th>
          
  </tr>
      
  </thead>

  {% for service in services %}

  <tr class="status_row">
    <td class="status_cell {{service.name}} {{service.manual_status|lower}}">{{service.name}}</td>
  </tr>


  {% endfor %}

  <tr id="notes_row">
    <td id="notes_cell">


      <div id="notes_div">
        <span id="notes_heading"></span>
        <br>
        <span id="notes_text"></span>
        <br>
        <br>
      </div>


    </td>
  </tr>
</table>

<script src="{% static 'service_status/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'service_status/colourChangeHelper.js' %}"></script>
<script src="{% static 'service_status/simpleTable.js' %}"></script>

</body>


</html>
