<html>

{% load staticfiles %}

<head>

  <!--<link href="{% static 'stylesheets/fonts.css' %}" media="all" rel="stylesheet" type="text/css" />-->
  <!--<link href="{% static 'service_status/main.css' %}" rel="stylesheet" type="text/css"/>-->

<style>
  html, body, button, input, table, td, th {
    font-family: "nta", Arial, sans-serif;
  }

  * {
    margin: 0;
  }

  table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  html {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

</style>


</head>

<body>

<table id="status_table" style="width: {{table.width}}px; height: {{table.height}}px;">

  <thead>
        
  <tr>
          
    <th class="numeric" scope="col">Service Status</th>
          
  </tr>
      
  </thead>

  {% for service in services %}

  <tr id="{{service.name}}" class="status_row">
    <td class="status_cell {{service.manual_status|lower}}">{{service.name}}</td>
  </tr>

  {% endfor %}

</table>

<script src="{% static 'service_status/main.js' %}"></script>
<script>set_cell_colours()</script>

</body>


</html>
