<html>

{% load staticfiles %}

<head>

<style>
  html, body, button, input, table, td, th {
    font-family: "nta", Arial, sans-serif;
  }

  html, body, table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  th {
    background-color: #005ea5;
    color: white;
    padding: 5px;
  }

  td {
    padding: 5px;
    color: white;
    /*text-align: center;*/
  }


</style>


</head>

<body>

<table id="status_table" style="width: {{width}}px; height: {{height}}px;">

  <thead>
        
  <tr>
          
    <th class="numeric" scope="col">Service Status</th>
          
  </tr>
      
  </thead>

  {% for service in services %}

  <tr id="{{service.name}}" class="status_row">
    <td class="status_cell {{service.manual_status|lower}}">{{service.name}}</td>
  </tr>

  {% endfor %}

</table>

<script src="{% static 'service_status/main.js' %}"></script>
<script>set_cell_colours()</script>

</body>


</html>
