{% extends 'service_status/common.html' %}

{% load staticfiles %}

{% block content %}
<div class="main_column">
  {% if form %}
  <form action="#" method="post">{% csrf_token %}
    {% endif %}

    <table id="single_service_table">
      <caption>{{caption}}: {{service.name}}</caption>

      <thead>
            
      <tr>

        <th class="numeric" scope="col">Auto</th>
         
        <th class="numeric" scope="col">Status</th>
        <th class="numeric" scope="col">Notes</th>
              
      </tr>
          
      </thead>

      <tr class="status_row">
        <td class="auto_status_cell {{service.name}} {{service.auto_status|lower}}"></td>
        <td class="manual_status_cell {{service.manual_status|lower}}">
          {% if form %}
          {{form.manual_status}}
          {% endif %}
        </td>

        {% if form %}
        <td class="notes_view_cell">{{form.notes}}</td>
        {% else %}
        <td class="notes_view_cell">{{service.notes}}</td>
        {% endif %}
      </tr>

    </table>

    <div class="switch_container">
      <a class="button_link" href="{{link_data.view_link}}">View</a> |
      <a class="button_link" href="{{link_data.update_link}}">Update</a>
    </div>
    {% if form %}
    <div class="submit_container">
      <input class="form_button" type="submit" value="Submit"/>
    </div>
    {% endif %}

    {% if form %}
  </form>
  {% endif %}



</div>
{% endblock %}

{% block body_end %}
<script src="{% static 'service_status/ajax_csrf.js' %}"></script>
<script src="{% static 'service_status/colourChangeHelper.js' %}"></script>
<script src="{% static 'service_status/dynamicSelectBoxSet.js' %}"></script>


<script>

  dynamicSelectBoxSet.setInitSelectColourClass();
  dynamicSelectBoxSet.addSelectChangeEvents();
  colourChangeHelper.setElementColours();

</script>

{% endblock %}

