{% extends 'service_status/common.html' %}

{% load staticfiles %}

{% block stylesheets %}

    <link href="{% static 'service_status/moj_template_overrides.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'service_status/main.css' %}" rel="stylesheet" type="text/css"/>
    <style> #footer { display: none; }</style>

{% endblock %}

{% block content %}

<div class="main_column">
<table id="service_list_table">


  <thead>
        
  <tr>
          
    <th scope="col">Service</th>
    <th class="auto_header" scope="col">Auto</th> 
    <th scope="col">Status</th>
    <th scope="col">Notes</th>
    <th scope="col"></th>
          
  </tr>
    
  </thead>

  {% for service in services %}

  <tr class="status_row">
    <td class="name_cell">{{service.display_name}}</td>
    <td class="auto_status_cell {{service.name}} {{service.auto_status|lower}}"></td>
    <td class="manual_status_cell {{service.name}} {{service.manual_status|lower}}"></td>
    <td class="notes_cell {{service.name}}">{{service.notes}}</td>
  </tr>

  {% endfor %}

</table>
  <br>
  <div class="bottom_text">Please continue to report IT issues to the Atos Helpdesk on 0800 783 0162</div>

</div>

{% endblock %}

{% block body_end %}
<script src="{% static 'service_status/ajax_csrf.js' %}"></script>
<script src="{% static 'service_status/colourChangeHelper.js' %}"></script>
<script src="{% static 'service_status/tvTable.js' %}"></script>

{% endblock %}
