{% extends 'service_status/common.html' %}

{% load staticfiles %}

{% block content %}

 <table id="service_select_table">

    <thead>
      <tr>
        <th class="numeric" scope="col">Service</th>
        <th class="numeric" scope="col">Manual Status</th>
        <th class="numeric" scope="col">Auto Status</th>
        <th class="numeric" scope="col">Note</th>
      </tr>
    </thead>

		{% for service in services %}

		<tr class="select_row">
			<td class="name_cell"><a href="../edit_status/?name={{service.name}}">{{service.name}}</a></td>
			<td class="manual_status_cell" >?</td>
      <td class="auto_status_cell" >?</td>
      <td class="note_cell" >{{service.notes}}</td>
		</tr>

		{% endfor %}

	</table>


{% endblock %}

{% block body_end %}
<script src="{% static 'service_status/main.js' %}"></script>


{% endblock %}
