{% extends 'service_status/common.html' %}

{% load staticfiles %}

{% block content %}


  <table id="status_table">
    <caption>View Services</caption>

    <thead>
      <tr>
      <th class="numeric" scope="col">Service</th>
      <th class="numeric" scope="col">Auto Check</th>
      <th class="numeric" scope="col">Status</th>
      <th class="numeric" scope="col">Notes</th>
      </tr>
    </thead>

		{% for service in services %}

		<tr id="{{service.name}}" class="status_row">
			<td class="name_cell"><a href="view_status/?name={{service.name}}">{{service.name}}</a></td>
			<td class="auto_status_cell" >?</td>
      <td class="manual_status_cell" >{{service.manual_status}}</td>
      <td class="notes_cell" >{{service.notes}}</td>
		</tr>

		{% endfor %}

	</table>

{% endblock %}

{% block body_end %}
<script src="{% static 'service_status/main.js' %}"></script>

<script>get_statuses()</script>
{% endblock %}
