{% extends 'service_status/common.html' %}

{% load staticfiles %}

{% block content %}


  <table id="view_table">
    <caption>View Service</caption>

    <thead>
          
    <tr>
            
      <th class="numeric" scope="col"></th>
      <th class="numeric" scope="col">Auto Check</th>
       
      <th class="numeric" scope="col">Status</th>
      <th class="numeric" scope="col">Notes</th>
            
    </tr>
        
    </thead>



    <tr id="{{service.name}}" class="status_row">
      <td class="large_name_cell">{{ service.name }}</td>
      <td class="large_status_cell" >?</td>
      <td class="large_status_cell">{{service.manual_status}}</td>
      <td class="notes_view_cell">{{service.notes}}</td>

    </tr>


  </table>



{% endblock %}

{% block body_end %}
<script src="{% static 'service_status/ajax_csrf.js' %}"></script>
<script src="{% static 'service_status/main.js' %}"></script>


{% endblock %}
