
.main_column, #service_list_table, #single_service_table, #view_table, #password_column {
    margin-left: auto;
    margin-right: auto;


}

.main_column {
    display: table;

}

#password_column {
    width: 300px;

}

.name_cell, .auto_status_cell, .manual_status_cell, .notes_cell, .notes_view_cell {

    border: 1px solid black;
    padding: 5px;

}

.auto_status_cell, .manual_status_cell {
    min-width: 70px;
}

.button_cell {
    text-align: right;
    padding: 0;
}

.name_cell {
    width: 100px;
}

.notes_cell {
    /*max-height: 50px; !important;*/
    /*height: 50px; !important;*/
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notes_cell, .notes_view_cell {
    width: 400px;
    max-width: 400px;
}

.notes_view_cell {
    overflow: hidden;
    padding: 0;
    width: 400px;
    min-width: 400px;
    /*height: 150px;*/
    /*Possibly not needed:- */
    min-height: 150px;

}

a.button_link {
    padding: 4px;
    color: #005ea5;
    text-decoration: none;
}

a.button_link:hover {
    color: white;
    background-color: #005ea5;
}

.switch_container {
    margin-left: 2px;
    margin-top: 4px;
    display: inline;
    float: left;
}

.submit_container {
    margin-right: 2px;
    margin-top: 4px;
    display: inline;
    float: right;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    font-size: inherit;
    resize: none;
    border : 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

th {

    text-align: left;

}

/* This id is generated automatically by Django's UpdateView, by joining 'id_' to the field name */
/*Needs some work for FireFox (and IE?)*/
select#id_manual_status {

    line-height: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    border: 0;
}

caption {
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

#login_caption {
    font-size: large;
}


/*Blue/white hover button*/
.form_button {
    background-color: white;
    border: 2px solid #005ea5;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    /*margin: 4px 2px;*/
    margin: 0;
    /*-webkit-transition-duration: 0.4s; !* Safari *!*/
    /*transition-duration: 0.4s;*/
    cursor: pointer;
}

.form_button:hover {
    background-color: #005ea5;
    color: white;
}


