

/* ----------Main content divs (centre columns)------------ */

.main_column, #service_list_table, #single_service_table, #view_table, #password_column {
    margin-left: auto;
    margin-right: auto;


}

.main_column {
    display: table;

}

#password_column {
    width: 300px;

}

/* ---------Tables, rows, cells------------ */

caption {
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

#login_caption {
    font-size: large;
}

th {

    text-align: left;

}

.auto_header {
    display: none;
}

.name_cell, .auto_status_cell, .manual_status_cell, .notes_cell, .notes_view_cell {

    border: 1px solid black;
    padding: 5px;

}

.auto_status_cell {
    min-width: 90px;
    display: none;
}

.manual_status_cell {
    min-width: 90px;
}

.name_cell {
    width: 100px;
}

.notes_cell, .notes_view_cell, .notes_edit_cell {
    width: 400px;
    max-width: 400px;
}

.notes_cell {
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Large note cells */

.notes_view_cell {

    font-size: inherit; !important;
    padding: 4px;
    height: 150px;
    min-height: 150px;

}

.notes_edit_cell {

    font-size: inherit; !important;
    overflow: hidden;
    padding: 0;
    height: 150px;

}

/* Simple Table */



/* --------------Links-------------- */

a.button_link {
    padding: 4px;
    color: #005ea5;
    text-decoration: none;
}

a.button_link:hover {
    color: white;
    background-color: #005ea5;
}

/* --------------Link and button containers-------------- */

.switch_container {
    color: #005ea5;
    margin-left: 2px;
    margin-top: 4px;
    display: inline;
    float: left;
}

.submit_container {
    margin-right: 2px;
    margin-top: 4px;
    display: inline;
    float: right;
}

/* --------------Form Elements--------------- */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    font-size: inherit;
    resize: none;
    border : 0;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


/* This id is generated automatically by Django's
UpdateView, by joining 'id_' to the field name
Needs some work for FireFox (and IE?)*/
select#id_manual_status {

    font-size: inherit;
    line-height: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    border: 0;
}

/* Buttons */

.form_button {
    background-color: white;
    border: 2px solid #005ea5;
    color: #005ea5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    margin: 0;
    cursor: pointer;
}

.form_button:hover {
    background-color: #005ea5;
    color: white;
}


