#global-header-bar {

    max-width: none;
    width: 100%;

}

div.inner-block {

    background-color: #005ea5;

}

.header-logo {
    display: none;
}

/*#centre_div {*/

    /*width: 200px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

/*#proposition-name:hover {*/
    /*text-decoration: none !important;*/
/*}*/

#status_table {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}

.status_row {

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.status_cell {

    width: 200px;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;

}
