

#global-header-bar {

    max-width: none;
    width: 100%;

}

div.inner-block {

    background-color: #005ea5;

}

.header-logo {
    display: none;
}

#proposition-name:hover {
    text-decoration: none !important;
}

