html, body, button, input, table, td, th {
    font-family: "nta", Arial, sans-serif;
}

html, body, table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

th {
    background-color: #005ea5;
    color: white;
    padding: 5px;
}

td {
    padding: 5px;
    color: white;
    /*text-align: center;*/
}

.notes_row {

}

.notes_cell {
    padding: 0px;
}

.notes_div {

    display: none;
    padding: 5px;
    overflow: hidden;
    height: 150px;
    border:solid 1px black;
    color: black;
    word-wrap: break-word;

}

.notes_heading {
    font-weight: bold;
}

.notes_text {

}


