html, body, button, input, table, td, th {
    font-family: "nta", Arial, sans-serif;
}

html, body, table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

th {
    background-color: #005ea5;
    color: white;
    padding: 5px;
}

td {
    padding: 5px;
    color: white;
    /*text-align: center;*/
}

.notes_row {

}

.notes_cell {
    padding: 0px;
}

.notes_div {

    display: none;
    /*max-height: 150px;*/
    /*max-width: 200px;*/
    overflow: hidden;
    height: 150px;
    /*width: 200px;*/
    border:solid 1px black;
    color: black;
    word-wrap: break-word;
    /*white-space: nowrap;*/
}

.notes_heading {
    font-weight: bold;
}

.notes_text {

}


/*@keyframes marquee {*/
    /*0%   { top:   8em }*/
    /*100% { top: -11em }*/

/*}*/

/*@keyframes marquee {*/
    /*0%   { transform: translateY(0); }*/
    /*100% { transform: translateY(-50%); }*/
    /*101% { transform: translateY(0); }*/

/*}*/

/*#marquee {*/
    /*top: 6em;*/
    /*position: relative;*/
    /*box-sizing: border-box;*/
    /*animation: marquee 15s linear infinite;*/


/*}*/
